<div class="widget">
	<h4>
		<span class="floatright">
			<img src="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/styles/{$TSUE['TSUE_Template']->ThemeName}/buttons/refresh.png" alt="{$TSUE['TSUE_Language']->phrase['button_refresh']}" title="{$TSUE['TSUE_Language']->phrase['button_refresh']}" rel="refreshTodaysBirthdays" class="clickable middle" />
		</span>
		<img src="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/styles/{$TSUE['TSUE_Template']->ThemeName}/forums/mix/{$toggleSrc}.png" alt="" title="" rel="todaysBirthdaysList" id="toggle" class="middle pointer" /> {$TSUE['TSUE_Language']->phrase['todays_birthdays']}
	</h4>
	
	<p id="todaysBirthdaysList" class="{$class}">{$todaysBirthdays}</p>
</div>