<tr class="trRow">
	<td class="{$tdClass}">
		<a href="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/?p=forums&amp;pid=11&amp;fid={$forum['forumid']}&amp;tid={$thread['threadid']}" title="{$threadLinkTitle}">{$thread['title']}</a>
		<div class="small">{$thread_owner}, {$post_date}</div>
	</td>
	<td class="{$tdClass}"><a href="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/?p=forums&amp;pid=11&amp;fid={$forum['forumid']}">{$thread['forumtitle']}</a></td>
	<td class="{$tdClass}">{$last_post_info}</td>
</tr>