<div class="widget2">
	<h4>
		<div class="floatright">
			<img src="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/styles/{$TSUE['TSUE_Template']->ThemeName}/jqueryTools/prev.png" alt="" title="" id="sItemPrev" class="middle pointer" />&nbsp;&nbsp;<img src="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/styles/{$TSUE['TSUE_Template']->ThemeName}/jqueryTools/next.png" alt="" title="" id="sItemNext" class="middle pointer" />&nbsp;&nbsp;<img src="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/styles/{$TSUE['TSUE_Template']->ThemeName}/buttons/list.png" alt="" title="" id="recentTorrentsSwitch" class="middle pointer" /> 
		</div>
		<img src="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/styles/{$TSUE['TSUE_Template']->ThemeName}/forums/mix/{$toggleSrc}.png" alt="" title="" rel="recentTorrents" id="toggle" class="middle pointer" /> {$TSUE['TSUE_Language']->phrase['torrent_recent_torrents']}
	</h4>
	<div id="recentTorrents" class="{$class}">
		<div class="scrollable{$addVerticalClass}">{$Images}</div>
		<div class="clear"></div>
	</div>
</div>