<table id="tableInOverlay" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<th scope="col" class="subHeader">{$TSUE['TSUE_Language']->phrase['torrents_peer_membername']}</th>
		<th scope="col" class="subHeader">{$TSUE['TSUE_Language']->phrase['torrents_size']}</th>
		<th scope="col" class="subHeader">{$TSUE['TSUE_Language']->phrase['stats_downloaded']}</th>
		<th scope="col" class="subHeader">{$TSUE['TSUE_Language']->phrase['stats_uploaded']}</th>
		<th scope="col" class="subHeader">{$TSUE['TSUE_Language']->phrase['stats_ratio']}</th>
		<th scope="col" class="subHeader">{$TSUE['TSUE_Language']->phrase['torrents_peer_announced']}</th>
		<th scope="col" class="subHeader">{$TSUE['TSUE_Language']->phrase['peer_id']}</th>
		<th scope="col" class="subHeader">{$TSUE['TSUE_Language']->phrase['stats_active']}</th>
	</tr>
	{$historyList}
</table>