<ul class="tabs">
	<li><a href="#">{$TSUE['TSUE_Language']->phrase['downloads']}</a></li>
	<li><a href="#">{$TSUE['TSUE_Language']->phrase['uploads']}</a></li>
	<li><a href="#">{$TSUE['TSUE_Language']->phrase['stats']}</a></li>
	<li><a href="#">{$TSUE['TSUE_Language']->phrase['warns']}</a></li>
	<li><a href="#">{$TSUE['TSUE_Language']->phrase['mutes']}</a></li>
	<li><a href="#">{$TSUE['TSUE_Language']->phrase['subscriptions']}</a></li>
	<li><a href="#">{$TSUE['TSUE_Language']->phrase['hit_runs']}</a></li>
	<li><a href="#">{$TSUE['TSUE_Language']->phrase['staff_notes']}</a></li>
	<li><a href="#">{$TSUE['TSUE_Language']->phrase['security_ip_history']}</a></li>
	<li><a href="#">{$TSUE['TSUE_Language']->phrase['invite_tree']}</a></li>
</ul>

<div class="panes">
	<div>{$tabs['downloadHistory']}</div>
	<div>{$tabs['uploadHistory']}</div>
	<div>{$tabs['stats']}</div>
	<div>{$tabs['warnHistory']}</div>
	<div>{$tabs['muteHistory']}</div>
	<div>{$tabs['subscriptions']}</div>
	<div>{$tabs['hitrun']}</div>
	<div>{$tabs['staff_notes']}</div>
	<div>{$tabs['ip_history']}</div>
	<div>{$tabs['invitetree']}</div>
</div>