<div class="widget">
	<h4>
		<span class="floatright">
			<img src="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/styles/{$TSUE['TSUE_Template']->ThemeName}/buttons/refresh.png" alt="{$TSUE['TSUE_Language']->phrase['button_refresh']}" title="{$TSUE['TSUE_Language']->phrase['button_refresh']}" rel="refreshStaffOnlineNow" class="clickable middle" />
		</span>
		<img src="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/styles/{$TSUE['TSUE_Template']->ThemeName}/forums/mix/{$toggleSrc}.png" alt="" title="" rel="staffOnlineNowList" id="toggle" class="middle pointer" /> {$TSUE['TSUE_Language']->phrase['staff_online_now']}
	</h4>

	<div id="staffOnlineNowList" class="{$class}">{$staff_online_now_list}</div>
	
	<div class="clear"></div>
</div>