<div class="widget">
	<h4>
		<span class="floatright">
			<img src="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/styles/{$TSUE['TSUE_Template']->ThemeName}/buttons/refresh.png" alt="{$TSUE['TSUE_Language']->phrase['button_refresh']}" title="{$TSUE['TSUE_Language']->phrase['button_refresh']}" rel="refreshTopDonors" class="clickable middle" />
		</span>
		<img src="{$TSUE['TSUE_Settings']->settings['global_settings']['website_url']}/styles/{$TSUE['TSUE_Template']->ThemeName}/forums/mix/{$toggleSrc}.png" alt="" title="" rel="top_donors_list" id="toggle" class="middle pointer" /> {$TSUE['TSUE_Language']->phrase['top_donors']}
	</h4>
	<div id="top_donors_list" class="{$class}">{$top_donors_list}</div>
	<div class="clear"></div>
</div>